
body{
    background-color: #06202a;
    color: white;
}
header{
    font-family: system-ui;
    line-height: inherit;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 50%;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.icons{
    width: 32px;
    height: 32px;
    text-align: center;
    margin: auto;
}
.icons p{
    opacity: 0;
    text-align: center;
    width: 100px;
    position: relative;
    left: -35px;
}
.icons:hover p{
    opacity: 1;
}
/* animation de rebond sur les icones de la nav */
.head_icon:hover{
    animation: icone 1s infinite;
}

@keyframes icone{
    0%, 100%{
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
    50%{
        transform: none;
        animation-timing-function: cubic-bezier(.0,0,2,1);
    }

}
#img__logo{
    margin: 10px;
    display: flex;
    justify-content: center;
}
#logo{
    display: flex;
    width: 180px;
    height: 100px;
}
/* passage du logo du dessous de la nav à la droite de la nav  */
@media (min-width: 640px){
    header{
        justify-content: space-between;
        flex-direction: row;
    }
    .top{
        width: 700px;
        margin-top: 0px;
    }
    #img__logo{
        display: flex;
    }
}